{% extends "auctions/layout.html" %} 


{% block body %}
{% if user.is_authenticated %}
    <h2>Add A New Listing:</h2>

  <form action="{% url 'auctions:createListing' user %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        User:
        <br>  
        {{ listingForm.listed_by }}
        <br>
        Title:
        <br>  
        {{ listingForm.title }}
        <br>
        Category:  
        <br>
        {{ listingForm.description }}
        <br>
        Price:  
        <br>
        {{ listingForm.starting_bid }}
        <br>
        Image:  
        <br>
        {{ listingForm.image }}
        <br>
        Category:  
        <br>
        {{ listingForm.category }}
        <br>
      <input class="mt-2" type="submit" />
  </form>

  {% endif %}

{% endblock %}