{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>

{% if message %}
  <div class="alert alert-info" role="alert">
    {{ message }}
  </div>
{% endif %}

{% if listings %}
{% for listing in listings %}
<a href="{% url 'auctions:listingDetails' listing.id %}">
  <div class="row mb-4 p-1 shadow">
    <div class="col-lg-2">
      <img src="{{ listing.image.url }}" class="image-style" />
    </div>
    <div class="col-lg-3">
      <ul>
        <li>Listed By : {{ listing.listed_by }}</li>
        <li>Title : {{ listing.title }}</li>
        <li>Description: {{ listing.description }}</li>
        <li>Price: £{{ listing.starting_bid }}</li>
      </ul>
    </div>
  </div>
</a>
{% endfor %} {% else %}
<ul>
  <li>No available Listing!</li>
</ul>
{% endif %} {% endblock %}
