{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>

{% if message %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endif %} {% if remove_listing_message %}
<div class="alert alert-info" role="alert">{{ remove_listing_message }} - {{ listing.title }}</div>
{% endif %} {% if listings %} {% for listing in listings %}


  <div class="row mb-4 p-1 shadow">
    <div class="col-lg-2">
      <img src="{{ listing.image.url }}" class="image-style" />
    </div>
    <div class="col-lg-8">
      {% if listing.listed_by == request.user %}
      <a
        href="{% url 'auctions:remove_listing' listing.id %}"
        class="float-right btn btn-outline-danger btn-sm"
        >Close Auction</a
      >
      {% endif %}
      <a href="{% url 'auctions:listing_details' listing.id %}">
        <ul>
          <li>Listed By : {{ listing.listed_by }}</li>
          <li>Title : {{ listing.title }}</li>
          <li>Description: {{ listing.description }}</li>
          <li>Price: £{{ listing.starting_bid }}</li>
        </ul>
      </a>
    </div>
  </div>
{% endfor %} {% else %}
<ul>
  <li>No available Listing!</li>
</ul>
{% endif %} {% endblock %}
