{% extends "auctions/layout.html" %} {% block body %}
<h2>
  Listing Details 
  {% if user.is_authenticated %} 
    {% if listing_in_watchlist %}
    <a
      href="{% url 'auctions:removeWatchlist' listing.id %}"
      class="float-right btn btn-outline-danger btn-sm"
      >Remove Item</a
    >
    {% else %}
    <a
    href="{% url 'auctions:addWatchlist' listing.id %}"
    class="float-right btn btn-outline-success btn-sm"
    >Add to Watchlist
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-bag-plus-fill"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"
        />
      </svg>
    </span>
    </a>
    {% endif %} 
  {% endif %}
</h2>

{% if message %}
<div class="alert alert-info" role="alert">
  {{ message }}
</div>
{% endif %}
<div class="row mb-3 p-3 shadow">
  <div class="col-lg-2">
    <img src="{{ image.url }}" class="image-style" />
  </div>
  <div class="col-lg-3">
    <ul>
      <li>Title : {{ listing.title }}</li>
      <li>Description: {{ listing.description }}</li>
      <li>Price: £{{ listing.starting_bid }}</li>
      <li>Category: {{ listing.category }}</li>
    </ul>
  </div>
</div>
<div class="row ml-1">
  {% if user.is_authenticated %}
  <form action="{% url 'auctions:bid' listing.id %}" method="POST">
    {% csrf_token %}
    <small class="text-muted">You can bid on this product, which have to be more than the current price/bid(£)! </small><br>
    {{bidForm}}
    <input type="submit">
  </form>
  {% endif %}
</div>

{% endblock %}